// Responsive layout

@import '_variables.scss';
@import '_mixins.scss';


/* General styles  */

body {
     background-color: $background;
     color: $darkblue;
}

main {
     width: 90%;
     margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
     font-family: $heading;
}

p {
     font-family: $main;
     margin-bottom: 1em;
}

/*.sr-text {
    display: none;
}*/

/* Header styles */

header {
     width: 100%;
     margin: 1em auto;

     h1 {
          text-transform: uppercase;
          text-align: center;
          margin: 1em;
          padding: 1em;
     }
}

.main-nav,
.footer-nav {
     margin: .5em 0;
     background-color: $darkblue;
     text-align: center;
     font-family: $main;
     text-transform: uppercase;
     font-weight: bold;
     letter-spacing: 2px;
     
     li {
          display: inline-block;
          padding: .5em;

          a {
               color: $background;
               text-decoration: none;
          }

          &:active {
               background-color: $mediumblue;
          }

          &:hover,
          &:focus  {
               background-color: $gold;
               color: $darkblue;
          }
     }
}

.social-nav {
   text-align: right;
   
   
   li {
       color: $mediumblue;
       list-style-type: none;
       display: inline;
       padding: .25em;
       
       
       a {
           font-family: $icons;
           @include socialIcons;
           color: $darkblue;
           text-decoration: none;
           
           &::before {
               font-size: 1.5em;
           }
           
           &:hover,
           &:focus {
               color: $gold;
               border-bottom: 1px dotted $gold;
           }
       }
   }
   
}

/* Posts and Pages */
article {
     max-width: 75%;
     margin: 1em auto;
}

/* Media */
img {
     @include ovalimg;

     &:hover {
          transform: none;
          transition: all ease 500ms;
     }
}

/* Footer  */
footer {
    font-family: $main;
    text-align: center;
    margin: 1em 0;
    
    p {
        font-size: .6em;
    }
}

.footer-nav {
    font-size: .8em;
}

