
@mixin ovalimg {
     -webkit-clip-path: ellipse(30% 50% at 50% 50%);
     clip-path: ellipse(30% 50% at 50% 50%);
     //box-shadow: 15px 15px 50px $smoke;
     transform: rotate(-20deg);
     margin: 1em;

}

        
@mixin socialIcons {
    
                   
            &[href*="wordpress.org"]::before,
            &[href*="wordpress.com"]::before {
            content: "\f19a";
            }
        
            &[href*="facebook.com"]::before {
                content: "\f09a";
            }
            &[href*="twitter.com"]::before {
                content: "\f099";
            }
            &[href*="instagram.com"]::before {
                content: "\f16d";
            }
            
            &[href*="linkedin.com"]::before {
                content: "\f08c";
            }
            
            &[href*="github.com"]::before {
                content: "\f09b";
            }
            
}